
<div class="jumbotron" >

</div>


<div class="container-fluid text-center">
<div class="homepageimage">
<img align="middle" alt="Rails logo" src="/assets/conferencepages.jpg"  />
</div>
<h1>About Us </h1>
<div class="homepagetext text-center"> 
<p>The Seoul Model United Nations (SEOMUN) conference is a student-led, three-day simulation of the United Nations for high school students around the world. Organised by international schools in Korea, SEOMUN is now holding its 19th session and we are expecting over 600 participants.

This year’s conference will be hosted by Seoul Foreign School, held at the KINTEX Convention & Exhibition Centre. Please note that only school registrations will be accepted - all participants must be current students at a registered school.

The deadline for school registration and officer applications is June 1st 2016. Delegate registration will be due on September 15th 2016. 

We look forward to seeing you in November. More information will be updated soon. </p>
</div>
</div>