<div class="jumbotron" >

</div>
<div class="container-fluid">
    <div class="committeeheader text-center">
    <h1>Administrative Director Hyong Min Kim</h1>
    </div>
<div class="admintext">
    <img class="adminphoto" alt="Rails logo" src="/assets/hyong.JPG"  vspace="35" hspace="30" align="right" />
     <div class="homepagetext">
    Honourable Delegates, Distinguished Student Officers, and Esteemed Advisors,
 
<p>I am Hyong Min Kim, currently a junior at Seoul Foreign School. It is my great honor to serve you as Administrative Director for SEOMUN XIX. My duty is to oversee logistical support for the conference, including distribution of supplies, room assignment and setting, provision of equipment, and much more. It is a daunting task, yet a responsibility I am proud and privileged to assume.</p>

<p>My MUN career began in 6th Grade – like most others, in a crowded General Assembly as a clumsy novice delegate. I still remember the stunning awe I felt in my first conference as I saw the United Nations, something I had hitherto seen only on the news, being unfolded before my eyes so naturally yet professionally. Even after participating in more than fifteen conference throughout the span of five years, MUN never ceases to amaze me. In particular, I am constantly amazed by how quickly cultural and ethnical barriers between delegates disappear as they engage in debate with people whom they have never met before. Over a span of a few days, complete strangers become cherished comrades as they find common grounds and cooperate for successful resolutions of the issues at hand.</p>

<p>SEOMUN is a conference where such things can and will happen. It reflects cohesive variety, attracting schools from all over the world and effectively uniting them under the banners of common progression and welfare of mankind. Of all the conferences I have attended over my five years of MUN career, SEOMUN is decidedly a conference that I believe truly exemplifies the meaning of diversity – hence this year’s theme, Embracing Diversity.</p>

<p>As an avid MUNer and passionate proponent of SEOMUN, I very much look forward to this conference. Whether you are a novice or a veteran, a delegate or a student officer, I have no doubt that SEOMUN XIX will be a thrilling, rewarding, unforgettable experience for you.</p>
 
<p>Warmly,</p>
<p>Hyong Min Kim</p>
<p>Administrative Director</p>
<p>Seoul Foreign School ‘18</p>
<p>hyongmin.kim.18@seoulforeign.org</p>
    <hr>
    </div>
    </div>
    </div>