<div class="jumbotron" >

</div>
<div class="container-fluid">
    <div class="homepageimage">
    <img alt="Rails logo" src="/assets/ADVISORY PANEL.jpg" width="100%"  />
    </div>
<div class="committeeheader text-center">

<h1>Topics</h1>
</div>
<div class="homepagetext">
<p>
    <ol>
        <li><%= link_to "Accelerating the process and improving the efficiency of humanitarian assistance and aid to Syria", "/AP-P-ClaireKim-1.docx/#{@bl_file}" %></li>
        <li><%= link_to "Combating ISIS’ sphere of influence in Syria", "/AP-AP-AvinashAshok-2.docx/#{@bl_file}" %></li>
        <li><%= link_to "Preventing the smuggling of Small Arms and Light Weapons into Syria", "/AP-DAP-LaurenChang-3.docx/#{@bl_file}" %></li>
    </ol>
</p>
<hr>
</div>
<div class="committeeheader text-center">
<h1>President's Address</h1>
</div>
<div class="homepagetext">

<img class="secgenphoto" alt="Rails logo" src="/assets/AP-P.png" width="300"align="right" vspace="10" hspace="30"  />

<p>Delegates, Student Officers and Guests: </p>


<p>Hello, my name is Claire Kim, and I am a senior attending Seoul International School. It is such an honor and privilege to be serving as your President of the Advisory Panel this year. Of the various MUN conferences I’ve attended over the years, SEOMUN has always provided me the privilege of engaging in the highest quality of debate and interacting with the most enthusiastic of delegates. </p>

<p><b>Accelerating the process and improving the efficiency of humanitarian assistance and aid to Syria</b></p>
<p>Due to the Syrian conflict, significant amounts of civilians were displaced, placing them in dire need of humanitarian resources, such as food, water, and medical care. However, due to the military conflict in the area, it has been increasingly difficult for the humanitarian aid to reach those in need. During the debate in Advisory Panel, it will your job to collaborate on creating a comprehensive resolution that will both increase the safety and efficiency of humanitarian aid to civilians in Syria.</p>
<p><b>Combating ISIS’ sphere of influence in Syria</b></p>
<p>With its increasing reach and power, ISIS is becoming the source of massive conflict and unrest in the Middle East, particularly in Syria. The rise of ISIS is leading to the deaths of thousands of citizens in Syria and abroad. As ISIS’ power base is established in Syria, it is most important to limit its power and influence there.</p>

<p><b>Preventing the smuggling of Small Arms and Light Weapons into Syria</b></p>
<p>After the mass influx of weapons into Syria, the civil unrest got even bloodier and more violent. Several international analysts report that the key to stopping the conflict lies in limiting the weapons that enter Syria. It is the AP’s responsibility this year to find a solution that would limit the entrance of arms.</p>

<p>Best of luck,</p>
<p>Claire Kim</p>
<p>President of Advisory Panel</p>
<p>Seoul International School ‘17</p>
<p>claire.kim17@stu.siskorea.org</p>




<hr>

</div>
<div class="committeeheader text-center">
<h1>Student Officers</h1>
</div>


  <div class="col-md-6">
      <figure><img class="secgenphoto" alt="Rails logo" src="/assets/AP-AP.jpeg" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Avinash Ashok </p></figcaption></figure>
      </div>
  <div class="col-md-6">
    <figure><img class="secgenphoto" alt="Rails logo" src="/assets/AP-DAP.jpeg" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lauren Chang</p></figcaption></figure>
  </div>
  
</div>
</div>