<div class="jumbotron" >

</div>
<div class="container-fluid">
    <div class="homepageimage">
    <img alt="Register" src="/assets/contactus.jpg"  />
    </div>
    <div class="committeeheader text-center">
  <h1>Banking</h1> 
  </div>
  <div class="homepagetext">
Important financial deadlines and information in regards to our conference:
<ul>
<li>School registration ends and school payments are due on June 1st, 2016</li>
<li>School fees are 500,000KRW (or $500.00 USD) and is non-refundable.</li>
<li>Final rosters and delegation/chaperone payments are due on Sept. 16th, 2016</li>
<li>Delegate/Chaperone fees are 125,000KRW ($125.00 USD) per person atending</li>
</ul>
<b>USD Account Information:</b>
<ul>
<li>Hana Bank</li>
<li>Account #23090001090239</li>
<li>Account holder: Seoul Foreign School</li>
<li>Swift code: KOEXKRSE</li>
</ul>

<b>KRW Account Information:</b>
<ul>
<li>Hana Bank</li>
<li>Account #: 230-917855-65037</li>
<li>Account holder: Seoul Foreign School</li>
</ul>
</div>
</div>