<div class="jumbotron" >

</div>

<div class="container-fluid">
      <div class="homepageimage">
    <img alt="regis" src="/assets/contactus.jpg"   />
    </div>
       <div class="committeeheader text-center">
   <h1>Officer Applications</h1> 
   </div>
    <div class="homepagetext">
   <p>We are looking for experienced and dedicated MUNers to fill leadership positions at SEOMUN XIX.  If you are interested, please follow the steps below to enter into consideration for these positions.  Thank you for your interest.  
</p>
    <h3><u>The chair application process is as follows:</u></h3>
    <h4><b>Step #1 </b></b.> - Fill in a student chair application using either option #1 or option #2.  </h4>
    <p><b>Option #1</b> - <b>If you have access to Google products</b> - Please fill out the Google form below by June 1st, 2016 11:59 KST.
</p>

<p><b>Option #2</b> - <b>If you don’t have access to Google Products</b> - Please download the <%= link_to "SEOMUN XIX Chair Application Form", "/SEOMUNXIXStudentChairAppDoc.docx/#{@bl_file}" %> and email the form to mun@seoulforeign.org by June 1st, 2016 11:59 KST.  
<p></p><b>Step #2</b> - Alert your director that you are applying to be a chair so that they can prepare to fill out your teacher recommendation.
</p>
<p><b>Step #3</b> - Once you submit your application your director will receive an email with a link to the teacher recommendation form. Once they have filled out the recommendation form your application will be complete.  Your director will need to fill out a teacher recommendation form by June 1st, 2016.  
</p>
<p><b>Step #4</b> - Wait to hear if you have received a chair position for SEOMUN XIX.</p>

<p>If you have any questions or concerns please write to us at mun@seoulforeign.org. We will do our best to help you.  
</p>
</p>
    </div>  
    </div>