<div class="jumbotron" >

</div>
<div class="container-fluid">
     <div class="homepageimage">
    <img alt="Rails logo" src="/assets/contactus.jpg"  />
    </div>
      <div class="committeeheader text-center">
<h1>Contact us</h1>
</div>
<div class="homepagetext">
<p>If you have any questions or concerns please write to us at mun@seoulforeign.org. We will do our best to help you.</p>
</div>
</div>