<body>
<div class="jumbotron" >



</div>

<div class="container-fluid">
     <div class="committeeheader text-center">
    <h1>Deputy Secretary General Anastasia Tsygankova</h1>
    </div>
    <div class="depsecgen">

    <img class="depsecanaphoto"alt="Rails logo" src="/assets/anastasia.jpg"  vspace="35" hspace="30"  align="right"/>
       
 <div class="homepagetext">
<p>Honourable delegates, esteemed student officers, and most distinguished guests and advisors:</p>


<p>My name is Anastasia Tsygankova, I’m a senior at Seoul Foreign School, and it is of my sincerest and utmost honour and privilege to be serving as the Deputy Secretary General of SEOMUN XIX.</p>

<p>Most would carry on with their introductory letters by proceeding to list their experiences in their respective Model United Nations clubs and the things they learnt through their first go at it, but I want to jump directly into the overarching theme of the conference as a whole and explain what it means to me in order to either help widen your range of perspectives and to provide you all with insight as to how it truly ties in with the understanding of being a global citizen and being what would typically be called a “true MUN-er”.</p>

<p>Embracing diversity isn’t something that is easy to do, especially not with avid believers worldwide in practices such as but most definitely not limited to racism, sexism, bigotry, chauvinism, and xenophobia. Prejudice is an inevitable, almost innate human response to the unknown and the feared, the unexplored and the imperceptible. Prejudice is how we as humans react to things we haven’t quite figured out the identities of, almost as a form of self-defence. However, that does not justify its advocacy. Prejudice is something that we, as joined peoples of our world, must fight against, as its destructive nature does not aid in the further progression of humanity, as tens of thousands of people trying to defend themselves end up creating barriers between populations and organisations and all the important “-actions” that pertain to a big group of people discriminating aimlessly and needlessly against each other. What the world needs now is unity; integration; a sense of community that brings us all together. </p>

<p>Yes, MUN is but a club, and SEOMUN is but a conference to mark up in your MUN résumé, but the things you learn from it is all dependent on if you so wish to act upon it. The struggle to embrace diversity is one that riddles our world today, and it is but your responsibility to take action to aid in the alleviation of such a pressing crisis. Whether or not you want to be that centrepiece of humanity’s final unity is up to you, so take your cards now and play them well- you won’t believe the things you might be able to achieve once you do.</p>

<p>My best to you,</p>
<p>Anastasia Tsygankova</p>
<p>Deputy Secretary General</p>
<p>Seoul Foreign School ‘17</p>
<p>a.tsygankova.17@seoulforeign.org</p>

</div>
<hr>
<div class="committeeheader text-center">
    
<h1>Deputy Secretary General Leslie Kim</h1>
</div>

<img class="depseclesliephoto" alt="Rails logo" src="/assets/leslie.jpg"  vspace="35" hspace="30"  align="right"  />
<div class="homepagetext">
<p>Honorable delegates, student officers, advisors, and guests,</p>
  
<p>Welcome to the 19th annual session of the Seoul Model United Nations conference. My name is Leslie Kim, a current senior attending Seoul Foreign School, and it is my greatest honor to be able to serve as your Deputy Secretary General at SEOMUN XIX.</p>
 
<p>This year, with the start of SEOMUN, we have once again embarked on a journey. This journey that many associate with Model United Nations is a journey of creating new connections, global awareness, and personal growth. Centered around the theme of “embracing diversity” SEOMUN XIX has been catered to allow delegates to touch upon the pressing issues of our world today related to our differences. The current world, and the society in it, is distinct, and we have reached a point of needing to come together to embrace this diversity.</p>
 
<p>Diversity in itself is many times referred to as something positive. Having diversity allows for more creativity and individuality. Diversity is also what establishes a person or group as special. It creates a reason for us to have to protect the interests of all groups in society. But diversity can also be problematic for it can be the main reason for our failures. Failures to come together and unite is the biggest cause of our conflicts today. Therefore, I believe that as global citizens it is our new duty to learn how to embrace this diversity. We need to learn what it means to embrace diversity and act upon how we should go about doing it. I hope that through this conference you can formulate your own views on how to handle the diversity existing in our world today and start your journey on embracing this diversity.</p>
 
<p>Yours sincerely,</p>

<p>Leslie Kim</p>
<p>Deputy Secretary General</p>
<p>Seoul Foreign School ‘17</p>
<p>leslie.kim.17@seoulforeign.org</p>
</p>
<hr>
</div>
</div>
</div>