<div class="jumbotron" >

</div>
<div class="container-fluid">
    <div class="homepageimage">
    <img alt="Rails logo" src="/assets/DISARMAMENTCOMMISION.jpg" width="100%"  />
        </div>
    <div class="committeeheader text-center">
<h1>Topics</h1>
</div>
<div class="homepagetext">
<p>
    <ol>
        <li><%= link_to "Measures to prevent terrorists from obtaining weapons of mass destruction", "/DIS-AP-SeiChang-1.docx/#{@bl_file}" %></li>
        <li><%= link_to "Regulating the use of Unmanned Aerial Vehicles (UAV) in armed conflicts and peacekeeping missions", "/DIS-­DAP­-AmyKang-2.docx/#{@bl_file}" %></li>
        <li><%= link_to "Increasing transparency and alleviating tensions arising from arms race in outer space", "/DIS-P-SewonPriscillaChang-3.docx/#{@bl_file}" %></li>
    </ol>
</p>
<hr>
</div>
<div class="committeeheader text-center">
<h1>President's Address</h1>
</div>
<div class="homepagetext">

<img class="secgenphoto" alt="Rails logo" src="/assets/D-P.png" width="300"align="right" vspace="10" hspace="30"  />

<p>Delegates, Student Officers and Guests: </p>

<p>Welcome to the Disarmament Commission of the nineteenth SEOMUN! I am Sewon Priscilla Chang, and senior attending Seoul Foreign School. It is my greatest pleasure to meet you all at my third and last SEOMUN conference. </p>

<p>Disarmament is a pressing issue to be debated upon in the twenty-first century. The rise of terrorist groups, frequently occurring attacks, and constant tensions between countries. As technology used in weapons continue to develop and advance day by day, such conflicts await us, and the importance of disarmament increases. </p>

<p>As delegates of the Disarmament Commission, you will debate on issues regarding preventing terrorists from obtaining weapons of mass destruction, regulating the use of Unmanned Aerial Vehicles (UAV) in armed conflicts and peacekeeping missions, and increasing transparency and alleviating tensions arising from arms race in outer space. While researching and debating on the issues, it is imperative for you to keep in mind that in order for nations to trust each other, governments should keep their promises of transparency and reduction of threatening weaponry. </p>

<p>One piece of advice that I would like to leave you is to stay away from hesitation. SEOMUN XIX can give you the opportunity to practice basic interaction and negotiation skills with new people. So do not be hesitant to show your unique potential and try new things. Everything you do will build up to become a part of the stairs to success. </p>

<p>I hope you all have a splendid conference experience full of memories to cherish. What’s most important in any conference is enjoying it, so do anything and everything you can to make SEOMUN XIX another, if not your first memorable one!</p>

<p>Wishing you the best of luck,</p>

<p>Sewon Priscilla Chang</p>

<p>President of Disarmament Committee</p>

<p>Seoul Foreign School ‘17</p>

<p>sewon.chang.17@seoulforeign.org</p>






<hr>

</div>
<div class="committeeheader text-center">
<h1>Student Officers</h1>
</div>


  <div class="col-md-6">
      <figure><img class="secgenphoto" alt="Rails logo" src="/assets/D-AP.jpg" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sei Chang</p></figcaption></figure>
      </div>
  <div class="col-md-6">
    <figure><img class="secgenphoto" alt="Rails logo" src="/assets/D-DAP.png" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shinyi (Amy) Kang</p></figcaption></figure>
  </div>
  
</div>
</div>