<div class="jumbotron" >

</div>
<div class="container-fluid">
      <div class="homepageimage">
    <img alt="Rails logo" src="/assets/ENVIORNMENTALCOMMISSION.jpg" width="100%"  />
      </div>
      <div class="committeeheader text-center">
<h1>Topics</h1>
</div>
<div class="homepagetext">
<p>
    <ol>
        <li><%= link_to "Preserving marine biodiversity through the reduction of plastic debris and microplastics", "/ENV-AP-SeoyeonAmyKim-1.docx/#{@bl_file}" %></li>
        <li><%= link_to "Measures to promote the development of sustainable fossil fuel alternatives", "/ENV-P-AnshPrasad-2.docx/#{@bl_file}" %></li>
        <li><%= link_to "Combating desertification and land degradation in Asia", "/ENV-DAP-JiwonLee-3.docx/#{@bl_file}" %></li>
    </ol>
</p>
<hr>
</div>
<div class="committeeheader text-center">
<h1>President's Address</h1>
</div>
<div class="homepagetext">

<img class="secgenphoto" alt="Rails logo" src="/assets/EC-P.PNG" width="300"align="right" vspace="10" hspace="30"  />
<p>Delegates, Student Officers and Guests: </p>

<p>Good day! My name is Ansh Prasad, and I will be serving as your head chair for this year’s Environmental Commission at SEOMUN. I have been a part of MUN for almost 4 years now, and have attended over 10 conferences – 2 of which I have chaired. SEOMUN will be my first conference in Korea, and I am looking forward to meeting and working with all of you in this coming Winter!</p>
<p>As the Environmental Commission, you bear the burden of protecting not only yourselves, but the very Earth. We are a unique committee in the sense that we act for the good of the world, and strive to think not as a variegated assortment of countries but as a singular human species. At the end of the day, every delegate wants the same solution but through different mechanisms. This is what separates us from the rest, for it is up to Environmental delegates to be extra precise and cautious during resolution-writing and debating. Our three topics seek to protect the three of the most important areas in the world. As delegates, you will first seek to save the oceans by coming up with innovative measures to reduce the harmful effects of micro and macro plastic. Furthermore, you will also be challenged to think about how fossil fuels can be developed to become sustainable. And finally, the desertification of land in Asia will be examined by the committee in order to provide a (hopefully) long-term solution to said problem. </p>
<p>My co-chairs and I are eagerly waiting the advent of SEOMUN XIX. We look forward to seeing all of you, and wish you the best of luck with your preparation. </p>

<p>Sincerely,</p>
<p>Ansh Prasad</p>
<p>President of Environmental Commission </p>
<p>Singapore American School ‘18</p>
<p>prasad35600@sas.edu.sg</p>
<hr>

</div>
<div class="committeeheader text-center">
<h1>Student Officers</h1>
</div>


  <div class="col-md-6">
      <figure><img class="secgenphoto" alt="Rails logo" src="/assets/EC-AP.jpg" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Seoyeon Amy Kim </p></figcaption></figure>
      </div>
  <div class="col-md-6">
    <figure><img class="secgenphoto" alt="Rails logo" src="/assets/EC-DAP.png" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;  Jiwon Lee</p></figcaption></figure>
  </div>
  
  </div>
</div>