<div class="jumbotron" >

</div>
<div class="container-fluid">
    <div class="homepageimage">
<img alt="Rails logo" src="/assets/ECOSOC 1.jpg" width="100%"  />
 </div>
   <div class="committeeheader text-center">
<h1>Topics</h1>
</div>
<div class="homepagetext">
<p>
    <ol>
        <li><%= link_to "Endorsing youth employment in response to graying demographics", "/ECOSOC1-DAP-JaniceHahn-1.docx/#{@bl_file}" %></li>
        <li><%= link_to "Reducing gender disparity in literacy rates in impoverished areas", "/ECOSOC1-AP-SevinaLee-2.docx/#{@bl_file}" %></li>
        <li><%= link_to "Achieving sustainable economic development in sub-Saharan Africa", "/ECOSOC1-P-DennisKim-3.docx/#{@bl_file}" %></li>
    </ol>
</p>
<hr>
</div>
<div class="committeeheader text-center">
<h1>President's Address</h1>
</div>
<div class="homepagetext">

<img class="secgenphoto" alt="Rails logo" src="/assets/ECOSOCI-P.jpg" width="300"align="right" vspace="10" hspace="30"  />

<p>Delegates, Student Officers and Guests: </p>

<p>I am Dennis Beom June Kim, who is the president of ECOSOC I.  </p>

<p>ECOSOC, short for the Economic and Social Council, is one of the six principal organs of the United Nations. As an extensive body governing issues about Economic and Social agendas, the ECOSOC is at the forefront of multiple major agendas and objectives of the UN, such as the Sustainable Development Goals or funding the solutions for the Refugee Crisis in the Middle East. </p>

<p>In ECOSOC I for SEOMUN XIX, the committee is going to focus on endorsing youth employment in response to graying dynamics, reducing gender disparity in impoverished areas, and achieving sustainable economic development in Sub-Saharan Africa. ECOSOC will take a socio-economic approach towards these agendas, on how to solve these through cooperation and problem-solving techniques. </p>

<p>These problems are tackling the root problems that humanity faces, such as poverty, unemployment, or gender disparities. These challenges and dilemmas have continued throughout human history, and however we try, the future is dark. However, it is up to your creative imagination, innovative approach, and the ability to persuade and make a compromise, which will pave a way for taking a step closer to ending these fundamental problems that us humans have always faced.  </p>

<p>Therefore, good luck delegates, and please feel free to ask any questions towards any of us chairs, Us Presidents are all very excited to meet you in the committee, supporting you to be actively engaged and debating in the conference!  </p>

<p>Thank you :)  </p>

<p>Best Regards, </p>
<p>Dennis Beom June Kim </p>
<p>President of ECOSOC I </p>
<p>Korea International School Jeju, ‘18 </p>
<p>bjkim18@kis.ac</p>



<hr>

</div>
<div class="committeeheader text-center">
<h1>Student Officers</h1>
</div>


  <div class="col-md-6">
      <figure><img class="secgenphoto" alt="Rails logo" src="/assets/ECOSOCI-AP.png" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sevina Lee</p></figcaption></figure>
      </div>
  <div class="col-md-6">
    <figure><img class="secgenphoto" alt="Rails logo" src="/assets/ECOSOCI-DAP.jpg" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Janice Hahn</p></figcaption></figure>
  </div>
</div>
</div>







