<div class="jumbotron" >

</div>
<div class="container-fluid">
    <div class="homepageimage">
    <img alt="Rails logo" src="/assets/ECOSOC 2.jpg" width="100%"  />
         </div>
          <div class="committeeheader text-center">
<h1>Topics</h1>
</div>
<div class="homepagetext">
<p>
    <ol>
        <li><%= link_to "Developing programmes to foster greater employment opportunity for persons with disabilities", "/ECOSOC2-P-NicholasKim-1 .docx/#{@bl_file}" %></li>
        <li><%= link_to "Promoting international collaboration for the funding of humanitarian assistance in post-conflict areas", "/ECOSOC2-AP-AlyssaChoi-2.docx/#{@bl_file}" %></li>
        <li><%= link_to "Developing a global framework to regulate microcredit organizations", "/ECOSOC2-DAP-EricWu-3.docx/#{@bl_file}" %></li>
    </ol>
</p>
<hr>
</div>
<div class="committeeheader text-center">
<h1>President's Address</h1>
</div>
<div class="homepagetext">

<img class="secgenphoto" alt="Rails logo" src="/assets/ECOSOCII-P.jpg" width="300"align="right" vspace="10" hspace="30"  />

<p> Delegates, Student Officers and Guests: </p>

<p>My name is Nicholas Kim, and I am a junior at Seoul International School. I will have the honor of serving as the ECOSOC II President at the annual SEOMUN XIX conference. The duty I have is to oversee the committee and provide whatever assistance is necessary to the delegates both before and during the conference. Beyond these responsibilities, I remain an approachable individual (particularly when it comes to discussions on Last Week Tonight and The Daily Show).</p>
<p>Under the theme of “Embracing Diversity,” this year’s ECOSOC will focus on three key issues, specifically on employment opportunities for persons with disabilities, promoting collaboration for humanitarian assistance, and regulations of microcredit organizations. In the past few decades, these three issues have consistently stumped even the most ambitious of minds, and require a concerted international effort to solve. Through resolutions and impassioned debate, delegates will be able to come up with new and unique solutions to the issues that plague our world today.</p>
<p>The committee chairs and the Secretariat will be working to ensure that the conference will run as smoothly as possible. Please do not hesitate to contact me with any questions or concerns about both the topics and the conference. Welcome to SEOMUN!</p>

<p>Sincerely,</p>
<p>Nicholas Kim</p>
<p>President of ECOSOC II</p>
<p>Seoul International School ‘18</p>
<p>nick2000sis@gmail.com</p>


<hr>

</div>
<div class="committeeheader text-center">
<h1>Student Officers</h1>
</div>

<div class="row">
  <div class="col-md-6">
      <figure><img class="secgenphoto" alt="Rails logo" src="/assets/ECOSOCII-AP.jpg" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alyssa Choi</p></figcaption></figure>
      </div>
  <div class="col-md-6">
    <figure><img class="secgenphoto" alt="Rails logo" src="/assets/ECOSOCII-DAP.jpg" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Eric Wu</p></figcaption></figure>
  </div>
</div>
</div>
