<div class="jumbotron" >

</div>
<div class="container-fluid">
    <div class="homepageimage">
    <img alt="Rails logo" src="/assets/GENERAL ASSEMBLY 1.jpg" width="100%"  />
     </div>
     <div class="committeeheader text-center">
<h1>Topics</h1>
</div>
<div class="homepagetext">
<p>
    <ol>
        <li><%= link_to "Addressing the extent of international intervention in resolving regional conflicts", "/GA1-P-JordanJang-1.docx/#{@bl_file}" %></li>
        <li><%= link_to "Increasing international cooperation in preventing the spread of communicable diseases", "/GA1-AP-InhaeHong-2.docx/#{@bl_file}" %></li>
        <li><%= link_to "Alleviating economic inequality arising from race and gender", "/GA1-DAP-JoungYonClaudiaChoi-3.docx/#{@bl_file}" %></li>
        <li><%= link_to "Measures to reduce the cultivation, manufacturing and distribution of illicit drugs", "/GA1-DAP-SeYoungChun-4.docx/#{@bl_file}" %></li>
    </ol>
</p>
<hr>
</div>
<div class="committeeheader text-center">
<h1>President's Address</h1>
</div>
<div class="homepagetext">

<img class="secgenphoto" alt="Rails logo" src="/assets/GAI-P.jpg" width="300"align="right" vspace="10" hspace="30"  />

<p>Delegates, Student Officers and Guests:</p> 

<p>It is my pleasure to welcome you to GA I. My name is Jung Hwan (Jordan) Jang, a rising senior at Korea International School. I am looking forward to serve as your president for this year’s conference. </p>

<p>GA is often the first step for many inexperienced delegates. To facilitate the path to becoming an experienced delegate, I hope to set a foundation where all delegates will be able to initiate, engage and leverage in debate. I also hope to create an environment - together - where all delegates will participate, not hesitate. </p>

<p>This year’s topics are broad, yet pertinent to the crises we see in the world today. The topics can be interpreted in different ways and many perspectives, I expect, will clash. However, diplomatic debate is always necessary in a MUN environment. The first question deals with international intervention within the international community: addressing the extent of international intervention in resolving regional conflicts. The second question deals with the rise of communicable diseases in recent years. Specifically: increasing international cooperation in preventing the spread of communicable diseases. The third question is a more general topic that can yield various solutions: alleviating economic inequality arising from race and gender. The fourth question deals with narcotic drugs: measures to reduce the cultivation, manufacturing and distribution of illicit drugs. </p>

<p>Let’s enjoy this conference as we grow together. And delegates, seize your chance in this committee.<p>

<p>Best regards, </p>
<p>Jung Hwan (Jordan) Jang</p>
<p>President of GA 1</p>
<p>Korea International School ‘17</p>
<p>jhjang17@student.kis.or.kr</p>
<hr>

</div>
<div class="committeeheader text-center">
<h1>Student Officers</h1>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4"><figure><img class="secgenphoto" alt="Rails logo" src="/assets/GA1-AP.jpg" width="230" height="300" vspace="10" hspace="27"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assistant President<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inhae Hong</p></figcaption></figure></div>
  <div class="col-xs-6 col-md-4"><figure><img class="secgenphoto" alt="Rails logo" src="/assets/GA1-DAP.jpg" width="230"height="300" vspace="10" hspace="27"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Se Young Chun</p> </figcaption></figure></div>
  <div class="col-xs-6 col-md-4"><img class="secgenphoto" alt="Rails logo" src="/assets/GA1-DAP2.jpg" width="230"height="300" vspace="10" hspace="27"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Joung Yon (Claudia) Choi</p> </figcaption></figure></div>
</div>
</div>

