<div class="jumbotron" >

</div>
<div class="container-fluid">
    <div class="homepageimage">
    <img alt="Rails logo" src="/assets/GENERAL ASSEMBLY 2.jpg" width="100%"  />
    </div>
    <div class="committeeheader text-center">
<h1>Topics</h1>
</div>
<div class="homepagetext">
<p>
    <ol>
        <li><%= link_to "Reforming fiscal and international assistance to ensure sustainable development in LEDCs", "/GA2-P-YumiMunKim-1.docx/#{@bl_file}" %></li>
        <li><%= link_to "Improving urban management plans to encourage demographic diversity", "/GA2-AP-JungWon(JD)Choi-2.docx/#{@bl_file}" %></li>
        <li><%= link_to "Measures to balance intra-governmental data security and transparency", "/GA2-DAP-AndyHan-3.docx/#{@bl_file}" %></li>
        <li><%= link_to "Combating social prejudice against migrant workers", "/GA2-DAP-AngelaWang-4.docx/#{@bl_file}" %></li>
    </ol>
</p>
<hr>
</div>
<div class="committeeheader text-center">
<h1>President's Address</h1>
</div>
<div class="homepagetext">

<img class="secgenphoto" alt="Rails logo" src="/assets/GAII-P.jpg" width="300"align="right" vspace="10" hspace="30"  />

<p>Delegates, Student Officers and Guests:</p>

<p>Welcome to the General Assembly II of SEOMUN XIX. My name is Yumi Mun Kim and I am a current senior attending Korea International School. It is my utmost honor to serve as your President at this year’s SEOMUN conference. </p>

<p>Exactly two SEOMUN conferences ago, I was sitting in your seat staring at the General Assembly’s agendas, wondering what in the world half of the words meant, and attempting to figure out how the Russian Federation was even related to the issue at hand. But three General Assemblies later, I have unearthed the beauty in this representing organ of the United Nations. The General Assembly strives for equity of treatment towards all participating bodies as it is the sole committee in which equal representation is offered. The resolutions that are passed in the UNGA may not have binding force among member nations, but have a greater value and voice that spark action across the world. At this year's conference, delegates will be expected to tackle four of the most pressing issues of the modern day world that encompasses the economy, society, politics, and last but not least, the environment.<p>

<p>Whether you are a newbie delegate who is still uncomfortable referring to yourself as "this delegate" or a veteran of 15+ conferences, I hope that during your attendance in the General Assembly II at this year's SEOMUN, you sincerely take on an active role in tackling and resolving the agendas presented and gain something meaningful throughout this experience. </p>

<p>I wish you the best of luck,</p>

<p>Yumi Mun Kim</p>
<p>General Assembly II President</p>
<p>Korea International School, ‘17</p>
<p>ymkim17@student.kis.or.kr</p>

<hr>

</div>
<div class="committeeheader text-center">
<h1>Student Officers</h1>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4"><figure><img class="secgenphoto"  src="/assets/GAII-AP.jpg" width="230" height="300" vspace="10" hspace="27"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assistant President<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jung Won (JD) Choi</p></figcaption></figure></div>
  <div class="col-xs-6 col-md-4"><figure><img class="secgenphoto" alt="Rails logo" src="/assets/GAII-DAP.jpg" width="230"height="300" vspace="10" hspace="27"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sungjun (Andy) Han</p> </figcaption></figure></div>
  <div class="col-xs-6 col-md-4"><img class="secgenphoto" alt="Rails logo" src="/assets/GAII-DAP2.JPG" width="230"height="300" vspace="10" hspace="27"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Angela Wang</p> </figcaption></figure></div>
</div>
</div>

