<div class="jumbotron" >

</div>

<div class="container-fluid">
    <div class="homepageimage">
    <img alt="Rails logo" src="/assets/HISTORICAL SECURITY COUNCIL.jpg" width="100%"  />
    </div>
  <div class="committeeheader text-center">
        
    <h1>Topics</h1>
    </div>
<div class="homepagetext">
<p>
    <ol>
        <li><%= link_to "The Situation in the Indo-Pakistani Sub-continent 1971 (Kashmir and Jammu 1971 + Bangladesh Genocide 1971)", "/HSC-P-AndrewKim-1.docx/#{@bl_file}" %></li>
        <li><%= link_to "The Cyprus Question 1974", "/HSC-AP-SophieLee-2.docx/#{@bl_file}" %></li>
        <li><%= link_to "The Situation in South Africa 1976", "/HSC-DAP-SunwooYoo-3.docx/#{@bl_file}" %></li>
    </ol>
</p>

<hr>
</div>
<div class="committeeheader text-center">
<h1>President's Address</h1>
</div>
<div class="homepagetext">

<img class="secgenphoto" alt="Rails logo" src="/assets/HSCPRESIDENT.jpg" width="300"align="right" vspace="10" hspace="30"  />
<p>Delegates, Student Officers and Guests: </p>

<p>Welcome to the Historical Security Council! My name is Young Jun Andrew Kim, a senior at Seoul International School, and I am thrilled to serve as your president for this year’s conference. Throughout my high school Model UN career, I have found each and every SEOMUN conference to be a memorable and transformative experience, and I look forward to making SEOMUN XIX the best one yet! I sincerely hope that all of you will approach the conference with the utmost enthusiasm and gain from it invaluable new friendships, knowledge, experience, and more.</p>

<p>As the name suggests, the Historical Security Council deals with past international incidents through the perspectives of that historical time period – this year, we will be specifically dealing with issues from the decade of the 1970’s, including the 1971 Situation in the Indo-Pakistani Sub-continent, the Cyprus Question of 1974, and the 1976 Situation in South Africa. Delegates will thus be called upon to draft creative, bold new solutions to tackle the oppression of racism, the tragedy of genocide, and the tyranny of war, all while maintaining the historical stances of their respective nations. While undoubtedly challenging, this opportunity will nevertheless allow delegates to experience the very core of what MUN truly is all about: relentless thinking, friendly cooperation, spirited debate, and diplomatic compromise. </p>

<p>Once again, I would like to whole-heartedly welcome you to our committee on behalf of my entire dais. We very much look forward to seeing all of you in November! Until then, I would like to leave you with the following quote by the American novelist F. Scott Fitzgerald: “It eluded us then, but that’s no matter. Tomorrow we will run faster, stretch our arms further - and one fine morning... So we beat on, boats against the current, borne back ceaselessly into the past.”</p>

<p>Best regards,</p>
<p>Young Jun Andrew Kim</p>
<p>President of Historical Security Council</p>
<p>Seoul International School ‘17</p>
<p>andrewkim0408@gmail.com</p>



<hr>

</div>
<div class="committeeheader text-center">
<h1>Student Officers</h1>
</div>


  <div class="col-md-6">
      <figure><img class="secgenphoto" alt="Rails logo" src="/assets/HSCAP.png" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sophie Lee </p></figcaption></figure>
      </div>
  <div class="col-md-6">
    <figure><img class="secgenphoto" alt="Rails logo" src="/assets/HSC-DAP.jpg" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sunwoo Yoo</p></figcaption></figure>
  </div>
  
</div>
</div>
  
</div>
</div>