
<% @title="Seoul Model United Nations XIX" %>
<head><title><%= @title %></title></head>
<link rel="canonical" href="http://www.seomunxix.com" />
<body>
<div class="jumbotron" >

</div>


</body>

<div class="container-fluid text-center">
  <div class="homepageimage">
  <img align="middle" alt="gwang" src="/assets/gwanghwamunfinallogo-resized.jpg"   />
  </div>
  <div class="homeheader">
  <h1>Welcome to SEOMUN XIX</h1>
  </div>
  <div class="homepagetext "> 

  <p>
The Seoul Model United Nations (SEOMUN) conference will take place on Thursday, November 24th until Saturday, November 26th, 2016 at the Korea International Exhibition Centre (KINTEX), located in Ilsan, Goyang.

This year’s theme is “Embracing Diversity”. Inspired by the European Union’s motto, “United in Diversity”, the theme encompasses the issues that have been plaguing humanity since the beginning of life. Through this conference, we wish to give rise to debates that promote the fostering of a sense of unity among the divided peoples of the world by calling for actions to break barriers, build bridges, and bring together a once disparate global community through the embracing of all those with differences to create a united sense of harmony in our world.

The deadline for school registration and officer applications is June 1st, 2016. Delegate registration forms will be due on September 16th, 2016.

<p>Any questions can be directed to mun@seoulforeign.org.</p>

<P>Thank you.</P> 
</p>
  
</div>

</div>

  





