<div class="jumbotron" >

</div>
<div class="container-fluid">
      <div class="homepageimage">
<img alt="Rails logo" src="/assets/mvlgoyang.JPG" width="100%"  />
</div>
<div class="committeeheader text-center">
<h1><p> <a href=http://www.mvlhotel.com/daemyung.mvl.goyang.eng.main.ds/dmparse.dm target="_blank">The MVL Goyang Hotel</a></p> </h1>
</div>
<div class="homepagetext">
<p>By bus, the MVL is located approximately 10 minutes from KINTEX, the conference venue. The hotel is providing special rates for SEOMUN participants and transportation to and from KINTEX. 
 </p>
 <p>The rates are as follows:</p>
 <ul style="list-style-type:none">
 <p><u>Rate without buffet breakfast</u></p>
<li><b>Superior Twin................................................................................121,000KRW     </b></li>
<li><b>Family Twin (Triple Room)...........................................................139,150KRW
</b></li>
<li><b>Superior Double............................................................................121,000KRW</b></li>
</ul>
<ul style="list-style-type:none"> 
 <p><u>Rate with buffet breakfast</u></p>

<li><b>Superior Twin................................................................................164,560KRW</b></li>
<li><b>Family Twin (Triple Room)...........................................................204,490KRW</b></li>
<li><b>Superior Double............................................................................164,560KRW </b></li>
<li>*Buffet breakfast is 21,780KRW per person. </li>
</ul>

  <li>Rates only apply for check-in and check-out from November 23rd to November 27th. 
</li>
  <li>The official check-in time is 15:00 and the check-out time is noon. </li>
  <li>Rates are per room, per night basis.</li>
  <li>Rates include free wifi. 
</li>


<p>Hotel Address: Hotel Address: 20, Taegeuk-ro, Ilsandong-gu, Goyang-si, 10394, Gyeonggi-do, Korea
</p>

</div>
</div>