<div class="jumbotron" >

</div>
<div class="container-fluid">
        <div class="homepageimage">
    <img alt="Rails logo" src="/assets/HUMAN RIGHTS COUNCIL 1.jpg" width="100%"  />
    </div>
      <div class="committeeheader text-center">
<h1>Topics</h1>
</div>
<div class="homepagetext">
<p>
    <ol>
        <li><%= link_to "Regulating the human rights violations of UN experts and officials on missions", "/HRC1-P-IreneHan-1 .docx/#{@bl_file}" %></li>
        <li><%= link_to "Measures to relieve the ethnic and religious tensions of the Israeli-Palestinian conflict", "/HRC1-DAP-JeffreyPark-2.docx/#{@bl_file}" %></li>
        <li><%= link_to "Ensuring the fundamental human rights of illegal immigrants", "/HRC1-AP-JunaJang-3.docx/#{@bl_file}" %></li>
    </ol>
</p>
<hr>
</div>
<div class="committeeheader text-center">
<h1>President's Address</h1>
</div>
<div class="homepagetext">

<img class="secgenphoto" alt="Rails logo" src="/assets/HRCI-P.jpg" width="300"align="right" vspace="10" hspace="30"  />

<p>Delegates, Student Officers and Guests: </p>

<p>Hello, welcome to SEOMUN XIX, Human Rights Council 1! My name is Irene Han, a senior at Chadwick International. It is my absolute delight to be able to serve as the president of this committee.</p>
<p>Human Rights Council serves to further strengthen the promotion and protection of human rights around the globe and addressing various instances of human rights violation and make recommendations on them. Following the theme of “Embracing Diversity” this year at SEOMUN, we will be debating three topics on:</p>
<p>1. Regulating the human rights violations of UN experts and officials on missions</p>
<p>2. Measures to relieve the ethnic and religious tensions of the IsraeliPalestinian conflict</p>
<p>3. Ensuring the fundamental human rights of illegal immigrants</p>
<p>These are all issues in dire need of attention. Delegates are asked to craft and negotiate resolutions to tackle these issues.</p>
<p>The spirit of MUN is not merely to make you a better debater. It serves a more important role in that it enables young people like us to learn more about these grave issues concerning the world and come up with possible solutions, all-the-while being more openminded in the process. Therefore, I would like to challenge the delegates to come up with realistic solutions with great detail, but also be willing to listen to others with open minds.</p>
<p>I hope that you have a great time at SEOMUN XIX. Debate with passion, make lots of new friends, and I hope to see you all very soon.</p>
<p>Sincerely,
<p> Inhye (Irene) Han </p>
<p>President of HRC 1</p>
<p>Chadwick ‘17</p>
<p>ihan2017@chadwickschool.org</p>


<hr>

</div>
<div class="committeeheader text-center">
<h1>Student Officers</h1>
</div>

<div class="row">
  <div class="col-md-6">
      <figure><img class="secgenphoto" alt="Rails logo" src="/assets/HRCI-AP.jpeg" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Juna Jang</p></figcaption></figure>
      </div>
  <div class="col-md-6">
    <figure><img class="secgenphoto" alt="Rails logo" src="/assets/HRCI-DAP.JPG" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jeffrey Park</p></figcaption></figure>
  </div>
</div>
</div>
