<div class="jumbotron" >

</div>
<div class="container-fluid">
     <div class="homepageimage">
<img alt="Rails logo" src="/assets/HUMAN RIGHTS COUNCIL 2.jpg" width="100%"  />
</div>
 <div class="committeeheader text-center">
<h1>Topics</h1>
</div>
<div class="homepagetext">
<p>
    <ol>
        <li><%= link_to "Reducing discrimination arising from gender identity or sexual orientation", "/HRC2-DAP-JanetLee-1.docx/#{@bl_file}" %></li>
        <li><%= link_to "Promotion and protection of the legal rights of children", "/HRC2-P-JisooChung-2-2.docx/#{@bl_file}" %>  </li>
        <li><%= link_to "Alleviating gender inequality through the empowerment of women in the workplace", "/HRC2-AP-JuhyungPark-3.docx/#{@bl_file}" %></li>
    </ol>
</p>

<hr>
</div>
<div class="committeeheader text-center">
<h1>President's Address</h1>
</div>
<div class="homepagetext">

<img class="secgenphoto"  src="/assets/HRCII-P.jpg" width="300"align="right" vspace="10" hspace="30"  />

<p>Delegates, Student Officers and Guests: </p>


<p>Welcome to SEOMUN XIX. I am Ji Soo Chung, and I am honoured to be serving as your forum President for Human Rights Council II.  </p>

<p>The issues that will be covered in our agenda are ones that have great prevalence in the modern day, often making headlines and engaging the youth in politics and current affairs. In 2016 alone, there have been significant events - both unjust and historical - such as the Orlando shootings and Hillary Clinton becoming the first female US presidential nominee from a major political party, which have brought needed attention to these areas. </p>

<p>More than 50 years after the UN General Assembly passed the Universal Declaration on Human Rights, it is difficult to believe people are still not seen and accepted for the individuals that they are, but are judged, discriminated against and even killed based on their identities and labels society attributes to them. It is all the more concerning to learn that children in regions of armed conflict such as Syria, Nigeria and Afghanistan are not only robbed of their education as their schools are utilised to militarily train children, in some cases, sending children into battlefields. </p>

<p>These are the unfortunate injustices that take place in areas that are seemingly foreign and utterly unrelated to our privileged lives. However, let us remember that these are the issues that millions face on a daily basis all around the world, in some cases much closer to us than we presume. Though participating in this single SEOMUN conference may not change the face of history, it is our duty as global citizens and the next generation to not turn a blind eye to these problems. It is, after all, our future that will be shaped by the response to the present that we make and the actions we take. </p>

<p>Model United Nations is the door to social awareness, academic enrichment and achieving a global perspective on the world’s greatest problems in peace and security. As far as academic extracurriculars go, I have never been more enlightened, challenged and impassioned than I have found myself in MUN conferences. I hope that my co-chairs and I will be able to make this conference a great memory and experience for all you prospective delegates. </p>

<p>Sincerely, </p>

<p>Ji Soo Chung. </p>

<p>President of HRC 2 </p>

<p>British International School, Ho Chi Minh City ‘17 </p>
<p>jchung@bisvietnam.net </p>



<hr>

</div>
<div class="committeeheader text-center">
<h1>Student Officers</h1>
</div>

<div class="row">
  <div class="col-md-6">
      <figure><img class="secgenphoto" alt="Rails logo" src="/assets/HRCII-AP.jpg" width="240" height="320" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Juhyung Park</p></figcaption></figure>
      </div>
  <div class="col-md-6">
    <figure><img class="secgenphoto" alt="Rails logo" src="/assets/HRCII-DAP.jpg" width="240" height="320" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Janet Lee</p></figcaption></figure>
  </div>
</div>
</div>
