<div class="jumbotron" >

</div>

<div class="container-fluid">
      <div class="homepageimage">
<img alt="Rails logo" src="/assets/ICJ.jpg" width="100%"  />
</div>
<div class="icjtext">
<p>
    <ol>
        <li>Advisory Opinion: </li>
        <p><%= link_to "Administrative Tribunal of the International Labour Organisation upon a Complaint Filed against the International Fund for Agricultural Development (Request for Advisory Opinion)", "/ICJ-DAP-SallyHong-AdvisoryOpinion.docx/#{@bl_file}" %></p>
        <li>Court case:</li>
        <p><%= link_to "Questions relating to the Obligation to Prosecute or Extradite (Belgium v. Senegal)", "/ICJ-AP-ArielLee-Court-Case.docx/#{@bl_file}" %></p>
    </ol>
</p>
<hr>
</div>
<div class="committeeheader text-center">
<h1>President's Address</h1>
</div>
<div class="homepagetext">

<img class="secgenphoto" alt="Rails logo" src="/assets/ICJ-P.jpg" width="300"align="right" vspace="10" hspace="30"  />

<p>Delegates, Student Officers and Guests: </p>
<p>Welcome to the International Court of Justice.</p>

<p>My name is Suahn Hur, a junior attending Korea International School. I have participated in SEOMUN ICJ last year as an advocate, and it is my utmost honor to serve as this year's president of the International Court of Justice. </p>

<p>To be quite frank, my MUN career never began as glamorous and awakening as most MUNers would denote their first experiences. Despite of the numerous failures and devastating moments I've encountered throughout conferences, I came to learn that MUN taught me to keep trying and embrace the challenges thrown at me. I was then captured by the beauty of being a completely different person when representing different nations, and seeing cultural differences among delegates dissolve, as collaborative efforts take over the atmosphere. </p>

<p>In ICJ, we evaluate justice. This is where ICJ brings a totally different layer to MUN, as delegates are able to apply their personal opinions to the issues at hand. Under this year's theme "Embracing Diversity", we will discuss two topics arising from different interpretations of laws and obligations, just like how the meaning of justice can differ in each individual. Through SEOMUN XIX, I sincerely hope for all judges and advocates to ardently debate and earn their own definitions of what justice truly means.</p>

<p>Be fearless, for the outcome only depends on you. </p>

<p>Yours,</p>

<p>Suahn Hur</p>

<p>President of International Court of Justice</p>

<p>Korea International School '18</p>

<p>shur18@student.kis.or.kr</p>







<hr>
</div>
<div class="committeeheader text-center">
<h1>Student Officers</h1>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4"><figure><img class="secgenphoto" alt="Rails logo" src="/assets/ICJ-AP.jpg" width="230" height="300" vspace="10" hspace="27"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assistant President<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ariel Lee</p></figcaption></figure></div>
  <div class="col-xs-6 col-md-4"><figure><img class="secgenphoto" alt="Rails logo" src="/assets/ICJ-DAP.jpeg" width="230"height="300" vspace="10" hspace="27"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sally Hong</p> </figcaption></figure></div>
  <div class="col-xs-6 col-md-4"><img class="secgenphoto" alt="Rails logo" src="/assets/ICJ-DAP2.png" width="230"height="300" vspace="10" hspace="27"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registrar<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Da Eun (Irene) Jung</p> </figcaption></figure></div>
</div>
</div>

