<div class="jumbotron" >

</div>
<div class="container-fluid">
      <div class="homepageimage">
    <img alt="regis" src="/assets/contactus.jpg"   />
    </div>
    
      <div class="committeeheader text-center">
             <h1>International Court of Justice Applications</h1> 
    <p>If you are interested in participating in the International Court of Justice as a judge or as an advocate, please follow the steps below to enter into consideration for these positions. Thank you for your interest. 
</p>
      <h3><u>The chair application process is as follows:</u></h3>
      </div>
  <div class="homepagetext">
 
 <h4><p><b>Step #1 - Fill in the ICJ application using either option #1 or option #2. </b>
</p></h4>

<h4><p><b>&nbsp;&nbsp;&nbsp;&nbsp;Option #1 - If you have access to Google products</b> - Please fill out the <a href="https://docs.google.com/a/seoulforeign.org/forms/d/1YmwB8vn4LRigeIhw34ILUI4-Do_8mk7KPd64g_zFJOY/edit">Google form</a> by September  <p>15th, 2016 11:59PM KST.</p></p>
</p></h4>

<h4><p><b>&nbsp;&nbsp;&nbsp;&nbsp;Option #2 - If you don’t have access to Google Products</b>  - Please download <%= link_to "ICJ Application", "/SEOMUNXIXICJApplication.docx/#{@bl_file}" %> <p> and email the form to seomunxix@gmail.com AND shur18@student.kis.or.kr by September 15th, 2016  <p>11:59PM KST.</p></p> </p></h4>

<h4><p><b>Step #2 - </b> Wait to hear if you have received a position in the International Court of Justice. 
</p></h4>

<h4><p>If you have any questions, please do not hesitate to contact us at seomunxix@gmail.com. </p></h4>





</div>
</div>