<div class="jumbotron" >

</div>
<div class="container-fluid">
        <div class="homepageimage">
    <img alt="Rails logo" src="/assets/conferencepage.jpg"  />
    </div>
     <div class="homeheader text-center">
     <h1>Venue Information</h1>
     </div>
     <div class="homepagetext">
   <p>This year, the Seoul Model United Nations conference will be held at the <a href="http://www.kintex.com/client/_eng/index.jsp" target="_blank">KINTEX convention center</a> located in Goyang City, Gyeonggi do. KINTEX (Korea International Exhibition Center) is Korea’s largest and newest international exhibition and convention venue, consisting of Exhibition Centers I and II where various exhibition and convention halls are located. This year’s conference will take place at KINTEX Exhibition Center II on the 3rd and 4th floor.</p>
  <img src="/assets/venuerooms.JPG" alt="Bus Map" >
   

   </div>
   </div>