<div class="jumbotron" >

</div>
<div class="container-fluid">
     <div class="homepageimage">
    <img alt="Rails logo" src="/assets/contactus.jpg"  />
    </div>
      <div class="committeeheader text-center">
<h1>Photos and Videos</h1>
</div>
<div class="photosvideos text-center">
<p><h3>Photos by SEOLITE</h3></p>
<p><a href="https://www.dropbox.com/sh/92wli3xnn2r0qw9/AABGqWSMtYdeGWooqWLZp8NSa?dl=0" target="_blank">Dropbox Link</a> 
</p>
<p><h3>SEOTV Videos</h3></p>
<p><a href="https://drive.google.com/file/d/0B10cIcgdevRmNUZEbjVZOV9PWVU/view?usp=sharing" target="_blank">Day 1</a></p>
<p><a href="https://drive.google.com/file/d/0B10cIcgdevRmN2hrNGk4cXZSeFU/view?usp=sharing" target="_blank">Day 2</a></p>
<p><a href="https://drive.google.com/file/d/0B10cIcgdevRmeDhIU3c0X2FaLVE/view?usp=sharing" target="_blank">Day 3</a></p>
</div>
</div>


