
<div class="jumbotron" >

</div>

<div class="container-fluid">
    <div class="homepageimage">
<img alt="Rails logo" src="/assets/SECURITY COUNCIL .jpg" width="100%"  />
</div>
  <div class="committeeheader text-center">
<h1>Topics</h1>
</div>
<div class="homepagetext">
<p>
    <ol>
        <li><%= link_to "The Situation in Libya", "/SC-DAP-JenniferRhee-1.docx/#{@bl_file}" %></li>
        <li><%= link_to "Situation in Syria", "/SC-AP-GraceLee-2.docx/#{@bl_file}" %></li>
        <li><%= link_to "The Situation in the South China Sea", "/SC-P-GeoHan-3.docx/#{@bl_file}" %></li>
    </ol>
</p>
<hr>
</div>
<div class="committeeheader text-center">
<h1>President's Address</h1>
</div>
<div class="homepagetext">

<img class="secgenphoto" alt="Rails logo" src="/assets/SC-P.jpeg" width="300"align="right" vspace="10" hspace="30"  />
<p>Delegates, Student Officers and Guests: </p>


<p>Greetings. My name is Geo Han from Korea International School and it is my utmost pleasure to serve as the President of SEOMUN 2016. This year’s SEOMUN conference will mark my 11th MUN Conference in a 4 year journey filled with violent ups and downs. It surely has been a memorable voyage.</p>

<p>My final goal before I put an end to my high school MUN career is to inspire all of you to see beyond the superficial cover surrounding the issues that we will be absolving together. Such task is bound to be an ordeal as we will be looking at issues from different parts of the globe, starting from the “Situation in Libya” and the “Situation in Syria” to the “Situation in the South China Sea”. Issues that may seem unrelated to us yet issues that directly affect our lives. </p>

<p>I do not expect all of you to gain mastery of MUN in one day. Make as many mistakes as you can from this conference and learn from them to make sure you don’t repeat those mistakes in your next conference. Make mistakes, learn, and most importantly, enjoy the conference. MUN doesn’t always have to be an ordeal where everything is serious, it still has an entertaining aspect and that depends on how you, as a delegate, facilitate the conference. </p>

<p>Remember, you will not remember the awards that you received in MUN in the future, but you will remember the bonds you formulated during the conference and the lessons you’ve learned. Focus on what is important, what’s truly important. Best of luck.</p>


<p>Sincerely, </p>

<p>Geo Han</p>
<p>President of Security Council </p>
<p>Korea International School ‘17</p>
<p>ghan17@student.kis.or.kr</p>







<hr>

</div>
<div class="committeeheader text-center">
<h1>Student Officers</h1>
</div>


  <div class="col-md-6">
      <figure><img class="secgenphoto" alt="Rails logo" src="/assets/SC-AP.jpg" width="230" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grace Young Kyung Lee</p></figcaption></figure>
      </div>
  <div class="col-md-6">
    <figure><img class="secgenphoto" alt="Rails logo" src="/assets/SC-DAP.jpg" width="230" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jennifer Rhee</p></figcaption></figure>
  </div>
  
</div>
</div>