<div class="jumbotron" >

</div>


<div class="container-fluid text-center">
<div class="homepageimage">
<img align="middle" alt="Rails logo" src="/assets/conferencepages.jpg"  />
</div>

<h1>Provisional Program of Events </h1>
<div class="homepagetext text-center"> 
<p><i>Please note that this is a tentative schedule and is subject to change.</i></p>

<p><b>Wednesday (November 23rd)</b></p>
<ul style="list-style-type:none">
<li>6:30 - 9:00 pm: SEOMUN Student Officer meeting and dinner </li>
</ul>
<p><b>Thursday (November 24th)</b> </p>
<ul style="list-style-type:none">
<li>7:30 - 8:00 am: Student Officer Morning Meeting </li>
<li>8:00 - 9:00 am: Registration</li>
<li>9:00 - 10:00 am: Opening Ceremony</li>
<li>10:30 - 5:00 pm: Committees in session </li>
<li>5:00 pm: Delegates dismissed</li>
<li>5:00 - 5:20 pm: Student Officer Evening Meeting</li>
</ul>

<p><b>Friday (November 25th)</b></p>
<ul style="list-style-type:none">
<li>8:30 - 8:50 am: Student Officer Morning Meeting</li>
<li>9:00 - 5:00 pm: Committees in session</li>
<li>5:00 pm: Delegates dismissed</li>		
<li>5:00 - 5:20 pm: Student Officer Evening Meeting</li>
</ul>
<p><b>Saturday (November 26th)</b>	</p>
<ul style="list-style-type:none">
<li>8:30 - 8:50 am: Student Officer Morning Meeting </li>
<li>9:00 - 1:30 pm: Committee in Session</li>
<li>1:45 - 3:00 pm: Closing Ceremony </li>
<li>3:00 pm: Closure of SEOMUN XIX</li>
<li>4:30 pm: Student Officer Dinner</li>

</div>
</div>