<div class="jumbotron" >

</div>

<div class="container-fluid">
  <div class="homepageimage">
  <img alt="Rails logo" src="/assets/contactus.jpg"  />
  </div>
   <div class="committeeheader text-center">
  <h1>Welcome</h1>
   </div>
   <div class="homepagetext">
  <p>
Dear MUN Directors,

It is our pleasure to invite you to attend the Seoul Model United Nations (SEOMUN) conference in Seoul, South Korea. SEOMUN XIX will be hosted by Seoul Foreign School at the KINTEX convention center from Thursday, November 26th through Saturday the 28th, 2016. KINTEX, located in the Ilsan district on the outskirts of Seoul, has great amenities around it along with subway access to the heart of Seoul.  

<p>SEOMUN is a three-day simulation of the United Nations for high school students, it is the largest Model UN conference in Korea. The theme is “Embracing Diversity” and was inspired by our conversations about how the world seems to be moving toward intolerance and inequity. Through this conference, we hope to foster debates and discussions that promote a sense of unity among the divided peoples of the world.  We hope that through embracing the world’s differences we can create harmony by bringing together the people of the world to form a global community.</p>

During the first 18 years of SEOMUN’s existence, our conference gained a reputation for a high standard of quality.  We are working hard to continue this tradition.  We estimate that between 500-600 students will participate in SEOMUN XIX. Schools worldwide are welcome and encouraged to register.  We truly want to live up to our theme and embrace the diverse perspectives and cultures that the world has to offer. </p>

<p>Please note that only schools may register for this conference, all delegates and officers must be a current student at a registered school.  School fees are 500,000KRW (or $500.00 USD) and is non-refundable. Fees for delegates and advisors are 125,000KRW ($125.00 USD) per person attending. To register please e-mail the directors at mun@seoulforeign.org and then wait for your formal invitation.  </p>

<p>Important deadlines and information in regards to our conference.
<ul>
<li><b>School registration will start on April 15th, 2016.</b></li>
<li><b>School registration ends and school payments are due on June 1st, 2016.</b></li>
<li><b>Officer applications are due on June 1st, 2016.</b></li>
<li><b>Final rosters and delegation/chaperone payments are due on Sept. 16th, 2016.</b></li>
</ul>
More information will continue to be posted at www.seomunxix.com. If you have any questions write us at mun@seoulforeign.org and we will be happy to respond promptly.

We look forward to seeing you in November!

<p align="left">Sincerely,</p>

<p align="left">Michael Busbee, Douglas Klinkerman, and the SEOMUN Secretariat,
<p align="left">Seoul Foreign School </p> </p>
</p>
  
</div>
</div>