<div class="jumbotron" >

</div>

<div class="container-fluid">
        <div class="homepageimage">
      <img alt="Rails logo" src="/assets/contactus.jpg" />
      </div>
         <div class="committeeheader text-center">
      <h1>School Registration</h1>
      </div>
         <div class="homepagetext">
      <p><b>Option #1</b> - If you have access to Google products, click this link SEOMUN XIX Registration Form I</a> and complete the form.</p>
      <p><b>Option #2</b> - If you do not have access to Google products please answer the following questions and send it to mun@seoulforeign.org. </p>
<li><b>1) 	School Name</b></li>
<li><b>2) 	School’s Country</b></li>
<li><b>3) 	MUN Director Name</b></li>
<li><b>4) 	MUN Director Email Address</b></li>
<li><b>5) 	Additional Email Addresses (If you want other directors/chaperones to receive updates)</b></li>
<li><b>6) 	Number of delegates you would like to attend</b></li>
<li><b>7) 	Do you desire any SC Positions (Yes/No)</b></li>
<li><b>8) 	Do you desire any ICJ Positions (Yes/No)</b></li>
 
<p>After you have completed either option all you need to do is wait to receive your formal invitation to SEOMUN XIX.  We will do our best to accommodate your requested number of delegates. </p>
</div>
</div>