

<div class="jumbotron" >

</div>
<body>
<div class="container-fluid" >
 <div class="committeeheader text-center">
    <h1>Secretary General Jenna Han</h1>
    </div>
    <img class="secgenphoto" alt="Rails logo" src="/assets/jenna.jpg" align="right" vspace="35" hspace="30"  />
    
    <div class="secgentext" >
        <div class="homepagetext">
    <p>Honourable delegates, chairs, advisors and guests:</p>

<p>Welcome to the 19th annual session of Seoul Model United Nations conference. My name is Jenna Han, and it is my distinct honour and privilege to serve you as your Secretary General of SEOMUN XIX.</p>

<p>Model United Nations is not about the resolutions that we write today, or the points of information you make on the day of the conference, or the objective number of speeches you approach the podium to present to the house; Model United Nations is about promising a better future. It is a commitment to seeking solutions now, and at this very moment in history, a pledge to not disregard and ignore the bare truth and evident discriminations that exist in the status quo. However, in order to act in accordance to such a vow, we must follow the single mantra that matters most in attempting to achieve a solution for any given situation:</p>

<p>remain actively seized of the matter.</p>

<p>Being actively seized of the matter in the Model United Nations is a source of empowerment. It gives us the power to make a change that affects everyone when we represent our nation, when we fiercely debate and clash about the differing ideals, and when we tackle current issues. We cannot wait any further for others to solve the problems for us. When we gather at SEOMUN, we, as a group, gain the power to merge “I” and “them” into a “we”. This means that it is in our hands and up to our complete responsibility to integrate diversity as a part of “we” and make the differences a part of the 21st century’s identity. Our goal is not to ignore variation but to acknowledge and embrace the diversity that makes us who we are. This is what we, as true leaders, should and must do, especially in a world so beautifully speckled with such a vast spectrum of different people, ideas, religions, and identities.</p>

<p>With such said, I cordially welcome you to SEOMUN XIX.  </p>

<p>Yours sincerely,</p>
<p>Jenna Han</p>
<p>Secretary General</p>
<p>Seoul Foreign School ’17</p>
<p>jenna.han.17@seoulforeign.org </p>
<hr>
</div>
    </div>
 </div>
    </body>