<div class="jumbotron" >

</div>
<div class="container-fluid">
      <div class="homepageimage">
    <img alt="Rails logo" src="/assets/SPECIAL CONFERENCE.jpg" width="100%"  />
    </div>
      <div class="committeeheader text-center">
<h1>Topics</h1>
</div>
<div class="homepagetext">
<p>
    <ol>
        <li><%= link_to "Measures to ensure global food security", "/SPC-P-JulieHwang-1.docx/#{@bl_file}" %></li>
        <li><%= link_to "Promoting development in the fields of information and telecommunications with regards to transnational security", "/SPC-DAP-JayMin-2.docx/#{@bl_file}" %></li>
        <li><%= link_to "Eliciting international cooperation to combat terrorism", "/SPC-AP-Rickyseo-3.docx/#{@bl_file}" %></li>
    </ol>
</p>
<hr>
</div>
<div class="committeeheader text-center">
<h1>President's Address</h1>
</div>
<div class="homepagetext">

<img class="secgenphoto" alt="Rails logo" src="/assets/SPC-P.jpeg" width="300"align="right" vspace="10" hspace="30"  />
<p>Delegates, Student Officers and Guests: </p>


<p>My name is Julie Hwang, a senior at Seoul International School. It is my utmost honor and privilege to serve as the President of the Special Conference for SEOMUN XIX. </p>

<p>This is my fourth and final year as both a participant of SEOMUN and a high school MUN-er, both of which I can proudly call myself now.</p>

<p>Although I first set foot into the world of MUN as a clueless middle school student, as the result of constant help from student leaders in every conference, I am now able to know what diplomacy means by heart. </p>
I, too, will strive to be that helping hand for delegates with less experience, and a figure to kindle greater interest and passion for MUN for those who have already begun exploring the beauty of debating complex global issues.   </p>

<p>In this committee, delegates will be given the task of dealing with complex issues that members of the UN still struggle to resolve today. It is true that the countless number of conferences, endless pages of resolutions, and ceaseless hours of debates by the United Nations have promised a tomorrow for millions of individuals and have helped the international community devise ingenious yet realistic solutions to combat pressing societal problems. Nevertheless, the world still remains plagued by issues that demand the immediate attention of the international community. As a part of the Special Conference, delegates will face three challenging issues, including the fight to ensure global food security, to promote development in telecommunication with special regards to transnational security, and to combat terrorism.</p>

<p>SEOMUN XIX is the one place where delegates can openly voice their opinions without having to fear accusations rooting from prejudice.  
Delegates, I welcome you to take on this seemingly daunting and intimidating challenge, that will undoubtedly turn out to be a rewarding one at the end.</p>

<p>Julie Hwang </p>
<p>President of Special Conference </p>
<p>Seoul International School ‘17</p>
<p>jiwon.hwang17@stu.siskorea.org</p>
<hr>

</div>
<div class="committeeheader text-center">
<h1>Student Officers</h1>
</div>


  <div class="col-md-6">
      <figure><img class="secgenphoto" alt="Rails logo" src="/assets/SPC-AP.jpg" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dongho (Ricky) Seo </p></figcaption></figure>
      </div>
  <div class="col-md-6">
    <figure><img class="secgenphoto" alt="Rails logo" src="/assets/SPC-DAP.jpg" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;  Jay Min</p></figcaption></figure>
  </div>
  </div>
</div>