<div class="jumbotron" >

</div>
<div class="container-fluid">
    <div class="homepageimage">
    <img alt="Rails logo" src="/assets/SIX PARTY TALKS.jpg" width="100%"  />
    </div>
    <div class="committeeheader text-center">
    <h1>Topics</h1>
    </div>
    <div class="homepagetext">
<p>
    <ol>
        <li><%= link_to "Ensuring the basic rights of DPRK defectors", "/SPT-P-AliceCho-1.docx/#{@bl_file}" %></li>
        <li><%= link_to "Measures to resolve territorial disputes in the East China Sea", "/SPT-AP-KatieKoo-2.docx/#{@bl_file}" %></li>
        <li><%= link_to "Relieving nuclear tensions within the Korean peninsula", "/SPT-DAP-SophieAnderson-3.docx/#{@bl_file}" %></li>
    </ol>
</p>

<hr>
</div>
<div class="committeeheader text-center">
<h1>President's Address</h1>
</div>
<div class="homepagetext">

<img class="secgenphoto" alt="Rails logo" src="/assets/SPT-P.jpg" width="300"align="right" vspace="10" hspace="30"  />
<p>Delegates, Student Officers and Guests: </p>

 
<p>My name is Alice Cho, currently a senior attending Seoul Foreign School and it is my distinct honor to serve as the President of Six Party Talks.</p>
 
<p>The world we are living in today is fraught with aggression, discrimination and violence. The meaning of universal rights, freedom and dignity has been greatly weakened and we still face difficulties respecting differences and uniting together. Nevertheless, we do not give up hope but continue our journey in embracing diversity. Different people from all across the world come together at SEOMUN to represent different nations and fervently wrangle over issues that concern our world today to ultimately rest on a resolution. This SEOMUN conference is another step for improvement that will influence the next generation, because it not only serves as a platform that educates us about the global issues but also provides an opportunity that prepares us to become better cooperators.</p>
 
<p>As the name suggests, the Six Party Talks is comprised of six member states that mainly focus on addressing security concerns regarding North Korean nuclear programs. This year, delegates will debate on topics including: ensuring basic rights of DPRK defectors, resolving disputes in the East China Sea and relieving nuclear tensions within the Korean peninsula. I am looking forward to meeting passionate and dedicated delegates who are willing to negotiate and develop ingenious clauses to resolve these issues, and gaining new insights from the impassioned debates.</p>
 
<p>It is easy to believe that what happens in distant places cannot be easily prevented, however through an MUN experience like this, I hope that we become more willing to educate ourselves and make prudent decisions that will not only shape our lives but also reform our world.</p>
 
<p>Yours Sincerely,
 
<p>Alice Cho</p>
<p>President of Six Party Talks</p>
<p>Seoul Foreign School ’17</p>
<p>alice.cho.17@seoulforeign.org</p>
 


<hr>

</div>
<div class="committeeheader text-center">
<h1>Student Officers</h1>
</div>


  <div class="col-md-6">
      <figure><img class="secgenphoto" alt="Rails logo" src="/assets/SPT-AP.jpeg" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ji Hyun Katie Koo </p></figcaption></figure>
      </div>
  <div class="col-md-6">
    <figure><img class="secgenphoto" alt="Rails logo" src="/assets/SPT-DAP.jpg" width="240" height="300" vspace="10" hspace="95"  /><figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deputy Assistant President <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sophie Anderson</p></figcaption></figure>
  </div>
  
</div>
</div>