<div class="jumbotron" >

</div>
<div class="container-fluid">
     <div class="committeeheader text-center">
    <h1>Technology Director Elizabeth Choi</h1>
    </div>
      <div class="tech">
    <img class="techeliz" alt="Tech" src="/assets/elizabeth.jpg"   vspace="35" hspace="30" align="right" />
    <div class="homepagetext">
        <p>Esteemed delegates, student officers, advisors, and guests,</p>
  <p>It is an honor to welcome you to the nineteenth Seoul Model United Nations conference. My name is Elizabeth Choi, a current senior attending Seoul Foreign School, and it gives me immense pleasure to serve you as one of the technology directors for this year’s conference.
</p>
<p>MUN has always been a challenging enterprise for all involved and admittedly was not confident of my potential contribution. However, the technology director position provided a unique fit to contribute my area of skills to enhance the MUN experience for all of you. My interests have always focused on digital art which, in this case, allows me to oversee most of the aesthetic portion of this conference. As one of the technology directors, I will do my utmost to capture all of the nuances of the vigorous debate between the delegates to share with all participants and contribute to event's overall success.
</p>
<p>Although I am not a veteran MUN member, I am certain that I will carry out my duties to the best of my ability, and I hope that through this conference, I will be able to extend my knowledge in the field of Model United Nations, gain more awareness of pressing global issues, and expose myself to new fellow passionate students participating in SEOMUN. </p>
<p>Soon we will gather to debate, negotiate, and build upon a credible solution that revolves around the theme of embracing diversity. I hope that every single one of you takes advantage of this opportunity to become unified and embrace the diversity currently existing in our society today. I wish you the best of luck, and I strongly urge you to cherish the moment, as the present is fleeting and the future depends on what you take from the past. 
</p>
<p>Yours truly,</p>
<p>Elizabeth Choi
</p>
<p>Technology Director</p>
<p>Seoul Foreign School ‘17
</p>
<p>Elizabeth.choi.17@seoulforeign.org</p>
</div>
<hr>
<div class="committeeheader text-center">
<h1>Technology Director Safwat Rahman</h1>
</div>
<img class="techsaf" alt="Tech" src="/assets/afif.jpg"  vspace="35" hspace="30" align="right" />
  <div class="homepagetext">
<p>Honorable delegates, distinguished student officers, and esteemed advisors, 
</p>
<p>My name is Safwat Rahman, currently a junior at Seoul Foreign School, and I will be serving as one of the two Technology Directors for this year’s Seoul Model United Nations conference. 
</p>
<p>This year’s conference will be my second SEOMUN conference. In my previous year as a delegate, I had the privilege of cooperating and debating with people from around the world. At SEOMUN, you will meet delegates from a range of nationalities and ethnicities, collaborating together in unity to solve contemporary issues regarding the world we all live in. There will be times of enjoyment and times of hardship, but being able to share these moments with your colleagues is what will make this conference an unforgettable one. 

</p>
<p>This year’s theme of “Embracing Diversity” closely relates to the atmosphere in this conference. In a conference comprising of more than 500 delegates from international schools located all around the globe, diversity is ultimately inevitable. SEOMUN offers diversity in culture, ethnicity, nationality, and identity, and these will undoubtedly make this conference unique and rewarding. </p>
<p>In my whole MUN career, I have never had the opportunity to serve a position such as this one. My task is to manage and operate the website, including updates on research reports and maintenance of social media for communication. With my knowledge and passion in technology, I hope to make this conference a well developed modern conference that will surely be the best you have ever experienced. </p>
<p>Best regards,</p>
<p>Safwat Rahman
</p>
<p>Technology Director</p>
<p>Seoul Foreign School ‘18
</p>
<p>safwat.rahman.18@seoulforeign.org</p>
    </div>
    </div>
    </div>