
<div class="jumbotron" >

</div>

<div class="container-fluid text-center">
<div class="homepageimage">
<img align="middle" alt="Rails logo" src="/assets/conferencepages.jpg"  />
</div>
<h1>Tour Information</h1>
<div class="homepagetext text-center"> 
<p><p>Goyang Mice Planner will provide information regarding unique venues and banquet restaurants in English. Please refer to this PDF document to plan for your trip:</p>
<p><a href=http://micegoyang.net/wMICE_en/wp-content/themes/exquisite-wp/assets/files/Goyang_guide.pdf>http://micegoyang.net/wMICE_en/wp-content/themes/exquisite-wp/assets/files/Goyang_guide.pdf</a></p>
<ol>
<li>One Mount </li>
<p><a href="http://en.onemount.co.kr">http://en.onemount.co.kr</a></p>
<p>Description: One Mount Mall is an outdoor shopping center with various shops, cafes, and restaurants. It 
	also is accompanied by a water park and a snow park.</p>
<p>Location: Hallyuworld-ro 300, Ilsanseo-gu, Goyang city</p>

<li>Megabox Movie Theater + Lakins Mall</li>
	<p><a href="http://www.lakins.co.kr">http://www.lakins.co.kr</a></p>
<p>Description: Lakins Mall holds the Megabox movie theater as well as various restaurants and cafes. It is also 
attached to the Hundai Department Store.</p>
<p>Location: 817, Hosu-ro, Ilsanseo-gu, Goyang-si, Gyeonggi-do, Korea</p>

<li>Western Dome</li>
<p>Description: Western dome is an outdoor shopping street filled with restaurants and cafes. It also has a CGV 
movie theater, karaoke, and an arcade. </p>
<p>Location: 867, Janghang-dong, Ilsandong-gu, Goyang-si, Gyeonggi-do, Korea</p>

<li>La Festa</li>
<p><a href="http://www.lafesta-ilsan.com">http://www.lafesta-ilsan.com</a></p>
<p>Description: Lafesta is an outdoor shopping street filled with restaurants and cafes. Is is also close to 
Western Dome.</p>
<p>Location: 32-34, Mugunghwa-ro, Ilsandong-gu, Goyang-si, Gyeonggi-do, Korea</p>

<li>Emart Town</li>
<p>Description: Emart Town is a huge Market that also holds a big food court and restaurants of nice quality.</p>
<p>Location: 171, Kintex-ro, Ilsanseo-gu, Goyang-si, Gyeonggi-do, Korea</p>

<li>Lake Park</li>
<p><a href="http://www.goyang.go.kr/park/index.do">http://www.goyang.go.kr/park/index.do</a>
<p>Description: Lake Park is a big, round park surrounding a huge lake. Bike riding and other types of outdoor 
activity is available.</p>
<p>Location: Janghang-dong, Ilsandong-gu, Goyang-si, Gyeonggi-do, Korea</p>

</ol>
<p>*GOYANG MICE SHUTTLE will be available for all SEOMUN participants free of charge. GOYANG MICE SHUTTLE will stop as KINTEX Exhibition Center 1, KINTEX Exhibition Center 2, Emart Town, MVL Hotel, One Mount, Lake Park, La Festa, Goyang Aram Nuri Arts Center & Jeongbalsan station and Western Dome. The bus is available from 1PM to 5:30PM and there will be a bus every 30 minutes at KINTEX Exhibition Center 1. </p>

</p>
</div>
</div>