<div class="jumbotron" >
</div>
<div class="container-fluid ">
    <div class="homepageimage">
    <img alt="Rails logo" src="/assets/conferencepages.jpg"  />
    </div>
      <div class="homepagetext">
<h2>Directions</h2>
   <h3> Transportation to KINTEX</h3>
<p><b>By Subway</b>: Subway Line number 3 → Get off at Daehwa Station → Please take exit number 2 → Follow the walkway through the apartment complex and you can get to KINTEX in less than 5 minutes 
</p>
<p><b>By Bus:</b></p>
  <p> <img src="/assets/bus.JPG" alt="Bus Map" ></p>

<p><h3>Transportation to MVL Hotel </h3></p>
<p><img src="/assets/MVLdirections.PNG" ></p>


<p><b>Map to KINTEX:</b></p>
<img src="/assets/kintexmap.JPG" alt="Kintex Map" >
</div>
</div>