@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: url("./backgroundimage2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  
}
.jumbotron {
    background-color: 	transparent;
}

.img {
    background-size: cover;
}

.homepagetext {
  text-align: justify;
  text-justify: inter-word;
  height: 100%;
    font-size: 1em;
 padding: 25px;
 font-family: Arial , Sans-serif;
 color: #414141;
}
.icjtext {
     text-align: justify;
  text-justify: inter-word;
  height: 100%;
    font-size: 1em;
 padding: 50px;
 font-family: Arial , Sans-serif;
 color: #414141;
}

.container-fluid .homepageimage img {
   position: relative;    
   left: 50%;
   top: 180px;
   -webkit-transform: translateY(-50%) translateX(-50%);
   
}
.secgentext {
 width: 900px;
  text-align: justify;
  text-justify: inter-word;
}
.depsecgen {
text-align: justify;
  text-justify: inter-word;
}
.admintext {
text-align: justify;
  text-justify: inter-word;
}
.tech {
 text-align: justify;
  text-justify: inter-word;   
}
.secgenphoto {
    
    position: relative;
    right: 0px;
    bottom: 0px;
}
.depsecanaphoto {
     position: relative;
    right: 0px;
    bottom: 0px;
}
.depseclesliephoto {
      position: relative;
    right: 0px;
    bottom: 0px;
}
.adminphoto {
       position: relative;
    right: 0px;
    bottom: 0px;
}
.techeliz {
      position: relative;
    right: 0px;
    bottom: 0px;
}
.techsaf {
   position: relative;
    right: 0px;
    bottom: 0px;
}
.container-fluid { 

  background-color: #ffffff;
  width: 925px;
  font-size: 16.5px;
  line-height: 180%;
  margin-top: -70px;

 
  
} 


.conf {
    background-color: #ffffff;

}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
   font-weight: bold;
}

#logo:hover {
   color: #fff; 
  
  text-decoration: none;
  
}

.pull-left {
    width: 2312px;
    height: 23px;
    padding: 5px;
}
.aboutdiv {
  padding: 300px;
  width: 100%;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

/* h2 { 
   position: absolute; 
   top: 280px; 
   left: 0; 
   width: 1500px; 
   padding-left: 405px;
   
    
}
h2 span { 
   color: white; 
   font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color 
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
h2 span.spacer {
   padding:0 5px;
}  */

h1 {
         font-family: "Helvetica Neue",sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    letter-spacing: inherit;

    color: #333;
}
p  {
    margin:1;
}

.homeheader h1 {
    padding-top: 30px;
}
.committeeheader {
    padding-top: 25px;
}

.col-md-8 { 
    padding-left: 50px;
    padding-right: 25px;
}

i {
    padding-left: 32px;

}
h3 {
    padding-left: 32px;
    padding-top:3px;
}

.col-md-8 {border-left-style: ridge;}

.col-md-2 {border-style:ridge;
    
    height:300px;
    width:225px;
    margin:3px;

}

.GA1 {
     width: 100%

}

.photosvideos {
    text-alight: center; 
    
}