<footer class="footer">
  <small>
   Seoul Model United Nations XIX
  </small>
  <nav>
    <ul>
      <small>
      <li><%= link_to "Contact", contactus_path %></li>
      <li><a href="http://news.railstutorial.org/">Facebook</a></li>
      </small>
    </ul>
  </nav>
</footer>