<!DOCTYPE html>
<html>
    
  <head>
<%= favicon_link_tag %> 
    <title><%= yield(:title) %> Seoul Model United Nations</title>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    <%= yield %>
  </body>
   <head>
  <body>
 <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
          <%= link_to "SEOMUN", root_path, id: "logo" %>
                
                <nav>
                    
      <ul class="nav navbar-nav navbar-right">
           <li><%= link_to "HOME", root_path %></li>
          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              CONFERENCE <b class="caret"></b>
                              </a>
                             <ul class="dropdown-menu">
                                  <li><%= link_to "About us", aboutus_path %></li>
                                  
                                   <li><%= link_to "Schedule", schedule_path %></li>
                                   <li><%= link_to "Venue", location_path %></li>
                                   <li><%= link_to "Hotel", hotel_path %></li>
                                  <li><%= link_to "Tour Info", tourinfo_path %></li>
                                  <li><%= link_to "Transportation", transportation_path %></li>
                                  <li><%= link_to "Photos and Videos", photos_path %></li>
                                  <li><%= link_to "Contact Us", contactus_path %></li>
                                  
                        </li>
                        </ul> 
                
          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              LEADERSHIP <b class="caret"></b>
                              </a>
                             <ul class="dropdown-menu">
                                  <li><%= link_to "Secretary General", secretarygeneral_path %></li>
                                   <li><%= link_to "Deputy Secretary Generals", deputysecretarygeneral_path %></li>
                                   <li><%= link_to "Administrative Director", admin_path %></li>
                                   <li><%= link_to "Technology Directors", tech_path %></li>
                                  
                        </li>
                        </ul> 
                       <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              COMMITTEES <b class="caret"></b>
                              </a>
                             <ul class="dropdown-menu">
                                  <li><%= link_to "General Assembly 1", ga1_path %></li>
                                   <li><%= link_to "General Assembly 2", ga2_path %></li>
                                   <li><%= link_to "ECOSOC I", ecosoc1_path %></li>
                                   <li><%= link_to "ECOSOC II", ecosoc2_path %></li>
                                   <li><%= link_to "Human Rights Council I", hrc1_path %></li>
                                   <li><%= link_to "Human Rights Council II", hrc2_path %></li>
                                   <li><%= link_to "Environmental Commission", ec_path %></li>
                                   <li><%= link_to "Special Conference", spc_path %></li>
                                   <li><%= link_to "Six Party Talks", spt_path %></li>
                                   <li><%= link_to "Advisory Panel", ap_path %></li>
                                   <li><%= link_to "Disarmament Commission", disarm_path %></li>
                                   <li><%= link_to "Security Council", sc_path %></li>
                                   <li><%= link_to "ICJ", icj_path %></li>
                                   <li><%= link_to "Historical Security Council", hissc_path %></li>
                           
                       </li>
                       </ul>
                        <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              REGISTRATION <b class="caret"></b>
                              </a>
                             <ul class="dropdown-menu">
                                 <li><%= link_to "Invitation",    school_path %></li>
                                 <li><%= link_to "School Registration",    schoolregis_path %></li>
                                 <li><%= link_to "Banking",    banking_path %></li>
                                   <li><%= link_to "ICJ Registration",    icjregistration_path %></li>
                       <li><%= link_to "Officer Applications",    chairapps_path %></li>
                       
                                  
                        </li>
                        </ul> 
                  
                     
                       
    </ul>    
    
     </nav>                 
     </div>
     
     </header>
 
      

        
        </body>
        
</html>


